version: "2.2"

services:
  reveal:
    build: .
    ports:
      - "127.0.0.1:8123:1948"
    volumes:
      - ${PWD}/presentation:/reveal
    init: true
  shell_0: &build
    volumes:
      - ./examples:/root/examples
    build:
      context: shells/shellinabox1
      args:
        GATEWAY: ${DOCKER_BRIDGE_GATEWAY}
    ports:
      - "127.0.0.1:42000:4200"
  shell_10:
    <<: *build
    ports:
      - "127.0.0.1:42010:4200"
  shell_11:
    <<: *build
    ports:
      - "127.0.0.1:42011:4200"      
  shell_20:
    <<: *build
    ports:
      - "127.0.0.1:42020:4200"
  shell_30:
    <<: *build
    ports:
      - "127.0.0.1:42030:4200"
  shell_31:
    <<: *build
    ports:
      - "127.0.0.1:42031:4200"      
  shell_40:
    <<: *build
    ports:
      - "127.0.0.1:42040:4200"
  shell_50:
    <<: *build
    ports:
      - "127.0.0.1:42050:4200"
  shell_60:
    <<: *build
    ports:
      - "127.0.0.1:42060:4200"
  shell_70:
    <<: *build
    ports:
      - "127.0.0.1:42070:4200"
  shell_80:
    <<: *build
    ports:
      - "127.0.0.1:42080:4200"
  shell_90:
    <<: *build
    ports:
      - "127.0.0.1:42090:4200"
  shell_100:
    <<: *build
    ports:
      - "127.0.0.1:42100:4200"
  shell_110:
    <<: *build
    ports:
      - "127.0.0.1:42110:4200"
  shell_120:
    <<: *build
    ports:
      - "127.0.0.1:42120:4200"
  shell_130:
    <<: *build
    ports:
      - "127.0.0.1:42130:4200"
  shell_140:
    <<: *build
    ports:
      - "127.0.0.1:42140:4200"
  shell_150:
    <<: *build
    ports:
      - "127.0.0.1:42150:4200"
  shell_160:
    <<: *build
    ports:
      - "127.0.0.1:42160:4200"
  shell_170:
    <<: *build
    ports:
      - "127.0.0.1:42170:4200"
  shell_180:
    <<: *build
    ports:
      - "127.0.0.1:42180:4200"
  docker:
    image: docker:dind
    volumes:
      - ./examples:/root/examples
    privileged: true
    network_mode: host
